node_modules
src
scripts

.env
.env.example
.env.test
.env.development
.env.staging
.env.production

.editorconfig
.gitignore

tsconfig.json

package-lock.json

npm-debug.log
npm-debug.log.*

yarn-debug.log
yarn.lock
yarn-error.log

pnpm-lock.yaml
pnpm-workspace.yaml

jest.config.js
jest.config.ts
jest.setup.js
jest.setup.ts
jest.json
